

header{
    color: white;
    background-color: #a18a78;
}
h2{
    color:white;
}

h2{
    background-color:#a18a78;
}

body a:link{
    color:black
}

body{
    background-color:  #ffedd8;
    font-family: 'Roboto Slab', serif;
}