

header{
    color: white;
    background-color: #6F8AB7;
}

h2{
    background-color:#6F8AB7;
    color:white;
}

body a:link{
    color:black
}

body{
    background-color:  #CAE5FF;
    font-family: 'Roboto Slab', serif;
}

li {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

li::before{
    content: "-";
}

 